In [21]:
#This Jupyter Notebook describe the data exploration and cleanup process.

In [62]:
# Dependencies
import pandas as pd

In [63]:
# Store filepath in a variable
cdc_covid_raw_data = "Resources/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv"

In [64]:
# Read  Data file with the pandas library

cdc_covid_raw_data = pd.read_csv(cdc_covid_raw_data, encoding="UTF-8")

In [65]:
# Show just the header
cdc_covid_raw_data.head(10)

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,04/01/2021,CA,3570660,3570660.0,0.0,2234,0.0,58090,58090.0,0.0,154,0.0,04/03/2021 12:00:00 AM,Agree,Agree
1,05/31/2021,CA,3685032,3685032.0,0.0,644,0.0,62011,62011.0,0.0,5,0.0,06/02/2021 12:00:00 AM,Agree,Agree
2,02/06/2020,NE,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
3,07/30/2020,ME,3910,3497.0,413.0,22,2.0,123,122.0,1.0,2,0.0,07/31/2020 02:35:06 PM,Agree,Agree
4,02/02/2021,MS,280182,176228.0,103954.0,1059,559.0,6730,4739.0,1991.0,13,7.0,02/04/2021 12:00:00 AM,Agree,Agree
5,05/03/2020,NH,2518,NaN,NaN,89,0.0,86,NaN,NaN,2,0.0,05/04/2020 10:49:24 PM,Not agree,Not agree
6,05/15/2021,NV,320719,320719.0,0.0,180,0.0,5530,NaN,NaN,0,0.0,05/16/2021 01:46:12 PM,Agree,NaN
7,05/17/2021,IN,735999,NaN,NaN,537,0.0,13460,13044.0,416.0,6,0.0,05/17/2021 12:00:00 AM,Not agree,Agree
8,07/07/2020,NE,20150,NaN,NaN,179,0.0,282,NaN,NaN,-1,0.0,07/09/2020 12:00:00 AM,Not agree,Not agree
9,02/02/2020,GU,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree

In [66]:
#Drop columns to reduce data volume and to keep relevant data
cdc_covid_clean_data = cdc_covid_raw_data.drop(['conf_cases','prob_cases','new_case','pnew_case','conf_death','prob_death','new_death','pnew_death','created_at','consent_cases','consent_deaths'], axis=1)

In [47]:
cdc_covid_clean_data

      submission_date state  tot_cases  tot_death
0          04/01/2021    CA    3570660      58090
1          05/31/2021    CA    3685032      62011
2          02/06/2020    NE          0          0
3          07/30/2020    ME       3910        123
4          02/02/2021    MS     280182       6730
...               ...   ...        ...        ...
40675      11/09/2021    MN     826404       9006
40676      12/11/2020    AZ     394804       7245
40677      08/13/2021   FSM          7          0
40678      12/15/2020    DC      25339        720
40679      11/22/2021    AZ    1245127      21942

[40680 rows x 4 columns]

In [67]:
#changing date format to keep two dataframe in same date format
cdc_covid_clean_data['submission_date'] = pd.to_datetime(cdc_covid_clean_data['submission_date'])

In [68]:
cdc_covid_clean_data

      submission_date state  tot_cases  tot_death
0          2021-04-01    CA    3570660      58090
1          2021-05-31    CA    3685032      62011
2          2020-02-06    NE          0          0
3          2020-07-30    ME       3910        123
4          2021-02-02    MS     280182       6730
...               ...   ...        ...        ...
40675      2021-11-09    MN     826404       9006
40676      2020-12-11    AZ     394804       7245
40677      2021-08-13   FSM          7          0
40678      2020-12-15    DC      25339        720
40679      2021-11-22    AZ    1245127      21942

[40680 rows x 4 columns]

In [70]:
# Store filepath in a variable
bts_trip_raw_data = "Resources/Trips_by_Distance.csv"

In [71]:
# Read  Data file with the pandas library
bts_trip_raw_data = pd.read_csv(bts_trip_raw_data, encoding="UTF-8")

In [27]:
# Show just the header
bts_trip_raw_data.head(10)

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
0,National,2019/01/01,NaN,NaN,NaN,NaN,77433867.0,248733553.0,8.977844e+08,241667151.0,...,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,00-00000-20190101,0,1
1,National,2019/01/02,NaN,NaN,NaN,NaN,61305201.0,264862219.0,1.139452e+09,291276735.0,...,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,00-00000-20190102,0,1
2,National,2019/01/03,NaN,NaN,NaN,NaN,63050480.0,263116940.0,1.162753e+09,296375014.0,...,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,00-00000-20190103,0,1
3,National,2019/01/04,NaN,NaN,NaN,NaN,61803652.0,264363768.0,1.181954e+09,293159631.0,...,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,00-00000-20190104,0,1
4,National,2019/01/05,NaN,NaN,NaN,NaN,64389745.0,261777675.0,1.180477e+09,295459014.0,...,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,00-00000-20190105,0,1
5,National,2019/01/06,NaN,NaN,NaN,NaN,66498949.0,259668471.0,1.073941e+09,268535036.0,...,163231150.0,144091310.0,46931537.0,17418975.0,8160971.0,1917898.0,1403061.0,00-00000-20190106,1,1
6,National,2019/01/07,NaN,NaN,NaN,NaN,62840591.0,263326829.0,1.144742e+09,301592063.0,...,169846852.0,165178406.0,55660657.0,17491604.0,7584683.0,1815569.0,1428289.0,00-00000-20190107,1,1
7,National,2019/01/08,NaN,NaN,NaN,NaN,63064293.0,263103127.0,1.141498e+09,299541016.0,...,169468215.0,166322929.0,55968279.0,17369502.0,7471402.0,1856802.0,1434182.0,00-00000-20190108,1,1
8,National,2019/01/09,NaN,NaN,NaN,NaN,62305155.0,263862265.0,1.135629e+09,291070223.0,...,170647903.0,166169173.0,55640198.0,17543261.0,7709071.0,1923976.0,1498183.0,00-00000-20190109,1,1
9,National,2019/01/10,NaN,NaN,NaN,NaN,61355771.0,264811649.0,1.161335e+09,297556678.0,...,174998777.0,171169293.0,57136281.0,18087977.0,7940284.0,1975790.0,1520249.0,00-00000-20190110,1,1

In [73]:
# extracting state level data
bts_trip_state_data = bts_trip_raw_data.loc[(bts_trip_raw_data['Level']=='State')]
bts_trip_state_data

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID,Week,Month
887,State,2019/01/01,32.0,NV,NaN,NaN,753054.0,2272063.0,9139676.0,2999886.0,...,1378024.0,1108436.0,222837.0,93301.0,73578.0,24471.0,18427.0,32-00000-20190101,0,1
888,State,2019/01/01,12.0,FL,NaN,NaN,4524666.0,16709556.0,55258300.0,16036792.0,...,7977612.0,6604304.0,2113009.0,796740.0,412224.0,95341.0,93887.0,12-00000-20190101,0,1
889,State,2019/01/01,11.0,DC,NaN,NaN,241030.0,459278.0,3114055.0,1314825.0,...,344116.0,183744.0,42096.0,10730.0,8109.0,3476.0,5616.0,11-00000-20190101,0,1
890,State,2019/01/01,10.0,DE,NaN,NaN,224457.0,739757.0,2420942.0,584323.0,...,370359.0,314102.0,128454.0,50542.0,22701.0,2474.0,2198.0,10-00000-20190101,0,1
891,State,2019/01/01,9.0,CT,NaN,NaN,853894.0,2707851.0,9468961.0,2375021.0,...,1331356.0,1211252.0,449947.0,192960.0,56618.0,12031.0,31268.0,09-00000-20190101,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369658,State,2021/11/20,10.0,DE,NaN,NaN,199997.0,773767.0,4029028.0,1203850.0,...,565986.0,471305.0,176261.0,83127.0,29383.0,2023.0,1329.0,10-00000-20211120,46,11
3369659,State,2021/11/20,23.0,ME,NaN,NaN,253650.0,1090562.0,5958496.0,1392742.0,...,896189.0,936014.0,291457.0,109239.0,40197.0,2677.0,2301.0,23-00000-20211120,46,11
3369660,State,2021/11/20,40.0,OK,NaN,NaN,866095.0,3090876.0,14471914.0,4199572.0,...,1964307.0,1885427.0,654502.0,344348.0,174505.0,22229.0,8953.0,40-00000-20211120,46,11
3369661,State,2021/11/20,55.0,WI,NaN,NaN,1085326.0,4737108.0,27585379.0,8535783.0,...,3544719.0,3372694.0,1269962.0,560103.0,273677.0,31731.0,15236.0,55-00000-20211120,46,11
3369662,State,2021/11/20,54.0,WV,NaN,NaN,365402.0,1426745.0,6756212.0,1612983.0,...,974990.0,964156.0,435418.0,261359.0,89457.0,8832.0,2032.0,54-00000-20211120,46,11

In [74]:
#Drop unwanted columns to reduce data volume
bts_trip_clean_data = bts_trip_state_data.drop(['State FIPS','County FIPS','County Name','Row ID','Week','Month'],axis='columns')

In [43]:
bts_trip_clean_data

,Level,Date,State Postal Code,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
887,State,2019/01/01,NV,753054.0,2272063.0,9139676.0,2999886.0,2181216.0,1039500.0,1378024.0,1108436.0,222837.0,93301.0,73578.0,24471.0,18427.0
888,State,2019/01/01,FL,4524666.0,16709556.0,55258300.0,16036792.0,14469767.0,6658624.0,7977612.0,6604304.0,2113009.0,796740.0,412224.0,95341.0,93887.0
889,State,2019/01/01,DC,241030.0,459278.0,3114055.0,1314825.0,833796.0,367547.0,344116.0,183744.0,42096.0,10730.0,8109.0,3476.0,5616.0
890,State,2019/01/01,DE,224457.0,739757.0,2420942.0,584323.0,640348.0,305441.0,370359.0,314102.0,128454.0,50542.0,22701.0,2474.0,2198.0
891,State,2019/01/01,CT,853894.0,2707851.0,9468961.0,2375021.0,2618933.0,1189575.0,1331356.0,1211252.0,449947.0,192960.0,56618.0,12031.0,31268.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369658,State,2021/11/20,DE,199997.0,773767.0,4029028.0,1203850.0,1037164.0,458600.0,565986.0,471305.0,176261.0,83127.0,29383.0,2023.0,1329.0
3369659,State,2021/11/20,ME,253650.0,1090562.0,5958496.0,1392742.0,1540589.0,747091.0,896189.0,936014.0,291457.0,109239.0,40197.0,2677.0,2301.0
3369660,State,2021/11/20,OK,866095.0,3090876.0,14471914.0,4199572.0,3471119.0,1746952.0,1964307.0,1885427.0,654502.0,344348.0,174505.0,22229.0,8953.0
3369661,State,2021/11/20,WI,1085326.0,4737108.0,27585379.0,8535783.0,6859041.0,3122433.0,3544719.0,3372694.0,1269962.0,560103.0,273677.0,31731.0,15236.0
3369662,State,2021/11/20,WV,365402.0,1426745.0,6756212.0,1612983.0,1632230.0,774755.0,974990.0,964156.0,435418.0,261359.0,89457.0,8832.0,2032.0

In [75]:
# Changing date format to keep two dataframe in same date format
bts_trip_clean_data['Date'] = pd.to_datetime(bts_trip_clean_data['Date'])

In [76]:
bts_trip_clean_data

,Level,Date,State Postal Code,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
887,State,2019-01-01,NV,753054.0,2272063.0,9139676.0,2999886.0,2181216.0,1039500.0,1378024.0,1108436.0,222837.0,93301.0,73578.0,24471.0,18427.0
888,State,2019-01-01,FL,4524666.0,16709556.0,55258300.0,16036792.0,14469767.0,6658624.0,7977612.0,6604304.0,2113009.0,796740.0,412224.0,95341.0,93887.0
889,State,2019-01-01,DC,241030.0,459278.0,3114055.0,1314825.0,833796.0,367547.0,344116.0,183744.0,42096.0,10730.0,8109.0,3476.0,5616.0
890,State,2019-01-01,DE,224457.0,739757.0,2420942.0,584323.0,640348.0,305441.0,370359.0,314102.0,128454.0,50542.0,22701.0,2474.0,2198.0
891,State,2019-01-01,CT,853894.0,2707851.0,9468961.0,2375021.0,2618933.0,1189575.0,1331356.0,1211252.0,449947.0,192960.0,56618.0,12031.0,31268.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369658,State,2021-11-20,DE,199997.0,773767.0,4029028.0,1203850.0,1037164.0,458600.0,565986.0,471305.0,176261.0,83127.0,29383.0,2023.0,1329.0
3369659,State,2021-11-20,ME,253650.0,1090562.0,5958496.0,1392742.0,1540589.0,747091.0,896189.0,936014.0,291457.0,109239.0,40197.0,2677.0,2301.0
3369660,State,2021-11-20,OK,866095.0,3090876.0,14471914.0,4199572.0,3471119.0,1746952.0,1964307.0,1885427.0,654502.0,344348.0,174505.0,22229.0,8953.0
3369661,State,2021-11-20,WI,1085326.0,4737108.0,27585379.0,8535783.0,6859041.0,3122433.0,3544719.0,3372694.0,1269962.0,560103.0,273677.0,31731.0,15236.0
3369662,State,2021-11-20,WV,365402.0,1426745.0,6756212.0,1612983.0,1632230.0,774755.0,974990.0,964156.0,435418.0,261359.0,89457.0,8832.0,2032.0

In [77]:
# merging two dataframe(inner join)
cdc_bts_merged_df = pd.merge(cdc_covid_clean_data, bts_trip_clean_data,  how='inner', left_on=['submission_date','state'], right_on = ['Date','State Postal Code'])

In [53]:
cdc_bts_merged_df

,submission_date,state,tot_cases,tot_death,Level,Date,State Postal Code,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
0,2021-04-01,CA,3570660,58090,State,2021-04-01,CA,11474065.0,28038158.0,107561279.0,29778606.0,26282896.0,12531005.0,15269950.0,14726338.0,5657090.0,2044897.0,918115.0,239073.0,113309.0
1,2021-05-31,CA,3685032,62011,State,2021-05-31,CA,10587959.0,28924264.0,121673931.0,38312879.0,30569304.0,14023600.0,15608127.0,14034739.0,5227230.0,2354560.0,1178859.0,254375.0,110258.0
2,2020-02-06,NE,0,0,State,2020-02-06,NE,354678.0,1574590.0,7285139.0,1853508.0,1951163.0,911062.0,1085616.0,899487.0,324464.0,160810.0,74008.0,16664.0,8357.0
3,2020-07-30,ME,3910,123,State,2020-07-30,ME,307281.0,1031123.0,4273710.0,934145.0,974133.0,527005.0,653197.0,726190.0,291651.0,114691.0,40709.0,6813.0,5176.0
4,2021-02-02,MS,280182,6730,State,2021-02-02,MS,465635.0,2520895.0,10637591.0,2451371.0,2376422.0,1244226.0,1733520.0,1809314.0,679235.0,243345.0,81689.0,15460.0,3009.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34114,2020-09-15,LA,159253,5278,State,2020-09-15,LA,1064007.0,3595971.0,14879974.0,3467887.0,3603166.0,1866040.0,2400059.0,2152229.0,802030.0,376748.0,159234.0,37165.0,15416.0
34115,2020-07-23,OR,15713,273,State,2020-07-23,OR,1186967.0,3003746.0,10553593.0,2930000.0,2467783.0,1207156.0,1472785.0,1562702.0,522547.0,251719.0,100339.0,23800.0,14762.0
34116,2021-11-09,MN,826404,9006,State,2021-11-09,MN,1157612.0,4482020.0,26111968.0,7830722.0,6208422.0,2712197.0,3332680.0,3988473.0,1386300.0,427804.0,172682.0,25417.0,27271.0
34117,2020-12-11,AZ,394804,7245,State,2020-12-11,AZ,2159114.0,5012532.0,19013569.0,4474247.0,4622060.0,2252360.0,2915451.0,3102621.0,1064224.0,367314.0,153367.0,44102.0,17823.0
34118,2020-12-15,DC,25339,720,State,2020-12-15,DC,263354.0,439101.0,2401332.0,787487.0,630261.0,345970.0,354855.0,194905.0,64687.0,15157.0,3094.0,2581.0,2335.0

In [78]:
# Drop duplicate columns to decrease data volume 
cdc_bts_merged_df = cdc_bts_merged_df.drop(['submission_date','State Postal Code'],axis = 1,inplace=False)

In [59]:
cdc_bts_merged_df

,state,tot_cases,tot_death,Level,Date,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
0,CA,3570660,58090,State,2021-04-01,11474065.0,28038158.0,107561279.0,29778606.0,26282896.0,12531005.0,15269950.0,14726338.0,5657090.0,2044897.0,918115.0,239073.0,113309.0
1,CA,3685032,62011,State,2021-05-31,10587959.0,28924264.0,121673931.0,38312879.0,30569304.0,14023600.0,15608127.0,14034739.0,5227230.0,2354560.0,1178859.0,254375.0,110258.0
2,NE,0,0,State,2020-02-06,354678.0,1574590.0,7285139.0,1853508.0,1951163.0,911062.0,1085616.0,899487.0,324464.0,160810.0,74008.0,16664.0,8357.0
3,ME,3910,123,State,2020-07-30,307281.0,1031123.0,4273710.0,934145.0,974133.0,527005.0,653197.0,726190.0,291651.0,114691.0,40709.0,6813.0,5176.0
4,MS,280182,6730,State,2021-02-02,465635.0,2520895.0,10637591.0,2451371.0,2376422.0,1244226.0,1733520.0,1809314.0,679235.0,243345.0,81689.0,15460.0,3009.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34114,LA,159253,5278,State,2020-09-15,1064007.0,3595971.0,14879974.0,3467887.0,3603166.0,1866040.0,2400059.0,2152229.0,802030.0,376748.0,159234.0,37165.0,15416.0
34115,OR,15713,273,State,2020-07-23,1186967.0,3003746.0,10553593.0,2930000.0,2467783.0,1207156.0,1472785.0,1562702.0,522547.0,251719.0,100339.0,23800.0,14762.0
34116,MN,826404,9006,State,2021-11-09,1157612.0,4482020.0,26111968.0,7830722.0,6208422.0,2712197.0,3332680.0,3988473.0,1386300.0,427804.0,172682.0,25417.0,27271.0
34117,AZ,394804,7245,State,2020-12-11,2159114.0,5012532.0,19013569.0,4474247.0,4622060.0,2252360.0,2915451.0,3102621.0,1064224.0,367314.0,153367.0,44102.0,17823.0
34118,DC,25339,720,State,2020-12-15,263354.0,439101.0,2401332.0,787487.0,630261.0,345970.0,354855.0,194905.0,64687.0,15157.0,3094.0,2581.0,2335.0

In [79]:
#Drop unwanted columns to clean and relevant data 
cdc_bts_merged_df = cdc_bts_merged_df.drop(['Level'],axis = 1,inplace=False)
cdc_bts_merged_df

,state,tot_cases,tot_death,Date,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
0,CA,3570660,58090,2021-04-01,11474065.0,28038158.0,107561279.0,29778606.0,26282896.0,12531005.0,15269950.0,14726338.0,5657090.0,2044897.0,918115.0,239073.0,113309.0
1,CA,3685032,62011,2021-05-31,10587959.0,28924264.0,121673931.0,38312879.0,30569304.0,14023600.0,15608127.0,14034739.0,5227230.0,2354560.0,1178859.0,254375.0,110258.0
2,NE,0,0,2020-02-06,354678.0,1574590.0,7285139.0,1853508.0,1951163.0,911062.0,1085616.0,899487.0,324464.0,160810.0,74008.0,16664.0,8357.0
3,ME,3910,123,2020-07-30,307281.0,1031123.0,4273710.0,934145.0,974133.0,527005.0,653197.0,726190.0,291651.0,114691.0,40709.0,6813.0,5176.0
4,MS,280182,6730,2021-02-02,465635.0,2520895.0,10637591.0,2451371.0,2376422.0,1244226.0,1733520.0,1809314.0,679235.0,243345.0,81689.0,15460.0,3009.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34114,LA,159253,5278,2020-09-15,1064007.0,3595971.0,14879974.0,3467887.0,3603166.0,1866040.0,2400059.0,2152229.0,802030.0,376748.0,159234.0,37165.0,15416.0
34115,OR,15713,273,2020-07-23,1186967.0,3003746.0,10553593.0,2930000.0,2467783.0,1207156.0,1472785.0,1562702.0,522547.0,251719.0,100339.0,23800.0,14762.0
34116,MN,826404,9006,2021-11-09,1157612.0,4482020.0,26111968.0,7830722.0,6208422.0,2712197.0,3332680.0,3988473.0,1386300.0,427804.0,172682.0,25417.0,27271.0
34117,AZ,394804,7245,2020-12-11,2159114.0,5012532.0,19013569.0,4474247.0,4622060.0,2252360.0,2915451.0,3102621.0,1064224.0,367314.0,153367.0,44102.0,17823.0
34118,DC,25339,720,2020-12-15,263354.0,439101.0,2401332.0,787487.0,630261.0,345970.0,354855.0,194905.0,64687.0,15157.0,3094.0,2581.0,2335.0

In [81]:
#Exporting clean data to csv file
cdc_bts_merged_df.to_csv('output_data/consolidated.csv', index=False)